language: python

python:
  - 3.6
  - 3.7
  - 3.8

os:
  - linux

cache: pip

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda

install:
  - conda env create -f environment.yml python=$TRAVIS_PYTHON_VERSION
  - conda activate ctaplot
  - pip install .

before_script:
  - pip install coverage

script:
  - coverage run -m pytest

after_success:
  - bash <(curl -s https://codecov.io/bash)
